body {margin :0 auto;} h1 {text-align : center;}

@font-face { 
	font-family: BPreplay;
	src: url(fonts/BPreplay.otf) format(opentype);
} 

@font-face { 
	font-family: BPreplayBold;
	src: url(fonts/BPreplayBold.otf) format(opentype);
} 

@font-face { 
	font-family: BPreplayBoldItalics;
	src: url(fonts/BPreplayBoldItalics.otf) format(opentype);
} 

@font-face { 
	font-family: BPreplayItalics;
	src: url(fonts/BPreplayItalics.otf) format(opentype);
} 

@font-face { 
	font-family: BergamoStd-Bold;
	src: url(fonts/BergamoStd-Bold.otf) format(opentype);
} 

@font-face { 
	font-family: BergamoStd-BoldItalic;
	src: url(fonts/BergamoStd-BoldItalic.otf) format(opentype);
} 

@font-face { 
	font-family: BergamoStd-Italic;
	src: url(fonts/BergamoStd-Italic.otf) format(opentype);
} 

@font-face { 
	font-family: BergamoStd-Regular;
	src: url(fonts/BergamoStd-Regular.otf) format(opentype);
} 

@font-face { 
	font-family: Bigmouth;
	src: url(fonts/Bigmouth.otf) format(opentype);
} 

@font-face { 
	font-family: Bino_Bold;
	src: url(fonts/Bino_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Bino_Bold_Italic;
	src: url(fonts/Bino_Bold_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: Bino_Light;
	src: url(fonts/Bino_Light.ttf) format(truetype);
} 

@font-face { 
	font-family: Bino_Light_Italic;
	src: url(fonts/Bino_Light_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: Bino_Medium;
	src: url(fonts/Bino_Medium.ttf) format(truetype);
} 

@font-face { 
	font-family: Bino_Medium_Italic;
	src: url(fonts/Bino_Medium_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: Bino_Mono;
	src: url(fonts/Bino_Mono.ttf) format(truetype);
} 

@font-face { 
	font-family: Champagne_&_Limousines;
	src: url(fonts/Champagne_&_Limousines.ttf) format(truetype);
} 

@font-face { 
	font-family: Champagne_&_Limousines_Bold;
	src: url(fonts/Champagne_&_Limousines_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Champagne_&_Limousines_Bold_Italic;
	src: url(fonts/Champagne_&_Limousines_Bold_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: Champagne_&_Limousines_Italic;
	src: url(fonts/Champagne_&_Limousines_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: Dalle_Italics;
	src: url(fonts/Dalle_Italics.ttf) format(truetype);
} 

@font-face { 
	font-family: Dalle_Typeface;
	src: url(fonts/Dalle_Typeface.ttf) format(truetype);
} 

@font-face { 
	font-family: Diavlo_BLACK_II_37;
	src: url(fonts/Diavlo_BLACK_II_37.otf) format(opentype);
} 

@font-face { 
	font-family: Diavlo_BOLD_II_37;
	src: url(fonts/Diavlo_BOLD_II_37.otf) format(opentype);
} 

@font-face { 
	font-family: Diavlo_BOOK_II_37;
	src: url(fonts/Diavlo_BOOK_II_37.otf) format(opentype);
} 

@font-face { 
	font-family: Diavlo_LIGHT_II_37;
	src: url(fonts/Diavlo_LIGHT_II_37.otf) format(opentype);
} 

@font-face { 
	font-family: Diavlo_MEDIUM_II_37;
	src: url(fonts/Diavlo_MEDIUM_II_37.otf) format(opentype);
} 

@font-face { 
	font-family: EDITION_;
	src: url(fonts/EDITION_.TTF) format(truetype);
} 

@font-face { 
	font-family: EngelLight_ltd;
	src: url(fonts/EngelLight_ltd.ttf) format(truetype);
} 

@font-face { 
	font-family: Espacio;
	src: url(fonts/Espacio.ttf) format(truetype);
} 

@font-face { 
	font-family: Existence-Light;
	src: url(fonts/Existence-Light.otf) format(opentype);
} 

@font-face { 
	font-family: Existence-StencilLight;
	src: url(fonts/Existence-StencilLight.otf) format(opentype);
} 

@font-face { 
	font-family: Existence-UnicaseLight;
	src: url(fonts/Existence-UnicaseLight.otf) format(opentype);
} 

@font-face { 
	font-family: Flatform_Light;
	src: url(fonts/Flatform_Light.otf) format(opentype);
} 

@font-face { 
	font-family: GeosansLight-Oblique;
	src: url(fonts/GeosansLight-Oblique.ttf) format(truetype);
} 

@font-face { 
	font-family: GeosansLight;
	src: url(fonts/GeosansLight.ttf) format(truetype);
} 

@font-face { 
	font-family: Kontrapunkt-Bold;
	src: url(fonts/Kontrapunkt-Bold.otf) format(opentype);
} 

@font-face { 
	font-family: Kontrapunkt-Light;
	src: url(fonts/Kontrapunkt-Light.otf) format(opentype);
} 

@font-face { 
	font-family: Kontrapunkt-LightItalic;
	src: url(fonts/Kontrapunkt-LightItalic.otf) format(opentype);
} 

@font-face { 
	font-family: New_Cicle_Fina;
	src: url(fonts/New_Cicle_Fina.ttf) format(truetype);
} 

@font-face { 
	font-family: New_Cicle_Fina_Italic;
	src: url(fonts/New_Cicle_Fina_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: New_Cicle_Gordita;
	src: url(fonts/New_Cicle_Gordita.ttf) format(truetype);
} 

@font-face { 
	font-family: New_Cicle_Gordita_Italic;
	src: url(fonts/New_Cicle_Gordita_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: New_Cicle_Semi;
	src: url(fonts/New_Cicle_Semi.ttf) format(truetype);
} 

@font-face { 
	font-family: New_Cicle_Semi_Italic;
	src: url(fonts/New_Cicle_Semi_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-bold;
	src: url(fonts/PACOTILL-bold.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-ital-bold;
	src: url(fonts/PACOTILL-ital-bold.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-ital-light;
	src: url(fonts/PACOTILL-ital-light.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-ital-regular;
	src: url(fonts/PACOTILL-ital-regular.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-light;
	src: url(fonts/PACOTILL-light.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-narrow-bod;
	src: url(fonts/PACOTILL-narrow-bod.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-narrow-bold-ital;
	src: url(fonts/PACOTILL-narrow-bold-ital.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-narrow-light-ital;
	src: url(fonts/PACOTILL-narrow-light-ital.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-narrow-light;
	src: url(fonts/PACOTILL-narrow-light.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-narrow-reguar-ital;
	src: url(fonts/PACOTILL-narrow-reguar-ital.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-narrow-reguar-ital_(1);
	src: url(fonts/PACOTILL-narrow-reguar-ital_(1).TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-narrow-regular;
	src: url(fonts/PACOTILL-narrow-regular.TTF) format(truetype);
} 

@font-face { 
	font-family: PACOTILL-regular;
	src: url(fonts/PACOTILL-regular.TTF) format(truetype);
} 

@font-face { 
	font-family: PrintBold_TT;
	src: url(fonts/PrintBold_TT.ttf) format(truetype);
} 

@font-face { 
	font-family: PrintClearly_TT;
	src: url(fonts/PrintClearly_TT.ttf) format(truetype);
} 

@font-face { 
	font-family: PrintDashed_TT;
	src: url(fonts/PrintDashed_TT.ttf) format(truetype);
} 

@font-face { 
	font-family: Quicksand_Bold;
	src: url(fonts/Quicksand_Bold.otf) format(opentype);
} 

@font-face { 
	font-family: Quicksand_Bold_Oblique;
	src: url(fonts/Quicksand_Bold_Oblique.otf) format(opentype);
} 

@font-face { 
	font-family: Quicksand_Book;
	src: url(fonts/Quicksand_Book.otf) format(opentype);
} 

@font-face { 
	font-family: Quicksand_Book_Oblique;
	src: url(fonts/Quicksand_Book_Oblique.otf) format(opentype);
} 

@font-face { 
	font-family: Quicksand_Dash;
	src: url(fonts/Quicksand_Dash.otf) format(opentype);
} 

@font-face { 
	font-family: Quicksand_Light;
	src: url(fonts/Quicksand_Light.otf) format(opentype);
} 

@font-face { 
	font-family: Quicksand_Light_Oblique;
	src: url(fonts/Quicksand_Light_Oblique.otf) format(opentype);
} 

@font-face { 
	font-family: SF_New_Republic;
	src: url(fonts/SF_New_Republic.ttf) format(truetype);
} 

@font-face { 
	font-family: SF_New_Republic_Bold;
	src: url(fonts/SF_New_Republic_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: SF_New_Republic_Bold_Italic;
	src: url(fonts/SF_New_Republic_Bold_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: SF_New_Republic_Italic;
	src: url(fonts/SF_New_Republic_Italic.ttf) format(truetype);
} 

@font-face { 
	font-family: Satellite-Oblique;
	src: url(fonts/Satellite-Oblique.otf) format(opentype);
} 

@font-face { 
	font-family: Satellite;
	src: url(fonts/Satellite.otf) format(opentype);
} 

@font-face { 
	font-family: Steinerlight;
	src: url(fonts/Steinerlight.ttf) format(truetype);
} 

@font-face { 
	font-family: Tall_Film;
	src: url(fonts/Tall_Film.ttf) format(truetype);
} 

@font-face { 
	font-family: Tall_Film_Fine;
	src: url(fonts/Tall_Film_Fine.ttf) format(truetype);
} 

@font-face { 
	font-family: Tall_Film_Oblique;
	src: url(fonts/Tall_Film_Oblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Tall_Films_Expanded;
	src: url(fonts/Tall_Films_Expanded.ttf) format(truetype);
} 

@font-face { 
	font-family: Tall_Films_Expanded_Oblique;
	src: url(fonts/Tall_Films_Expanded_Oblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Tall_Films_Fine_Oblique;
	src: url(fonts/Tall_Films_Fine_Oblique.ttf) format(truetype);
} 

@font-face { 
	font-family: TitilliumText22L001;
	src: url(fonts/TitilliumText22L001.otf) format(opentype);
} 

@font-face { 
	font-family: TitilliumText22L002;
	src: url(fonts/TitilliumText22L002.otf) format(opentype);
} 

@font-face { 
	font-family: TitilliumText22L003;
	src: url(fonts/TitilliumText22L003.otf) format(opentype);
} 

@font-face { 
	font-family: TitilliumText22L004;
	src: url(fonts/TitilliumText22L004.otf) format(opentype);
} 

@font-face { 
	font-family: TitilliumText22L005;
	src: url(fonts/TitilliumText22L005.otf) format(opentype);
} 

@font-face { 
	font-family: TitilliumText22L006;
	src: url(fonts/TitilliumText22L006.otf) format(opentype);
} 

@font-face { 
	font-family: TypoSlabserif-Light;
	src: url(fonts/TypoSlabserif-Light.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Black;
	src: url(fonts/Walkway_Black.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Black_RevOblique;
	src: url(fonts/Walkway_Black_RevOblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Bold;
	src: url(fonts/Walkway_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Bold_RevOblique;
	src: url(fonts/Walkway_Bold_RevOblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Condensed;
	src: url(fonts/Walkway_Condensed.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Condensed_Bold;
	src: url(fonts/Walkway_Condensed_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Condensed_SemiBold;
	src: url(fonts/Walkway_Condensed_SemiBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Expand;
	src: url(fonts/Walkway_Expand.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Expand_Black;
	src: url(fonts/Walkway_Expand_Black.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Expand_Bold;
	src: url(fonts/Walkway_Expand_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Expand_RevOblique;
	src: url(fonts/Walkway_Expand_RevOblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Expand_SemiBold;
	src: url(fonts/Walkway_Expand_SemiBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Expand_UltraBold;
	src: url(fonts/Walkway_Expand_UltraBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Oblique;
	src: url(fonts/Walkway_Oblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Oblique_Black;
	src: url(fonts/Walkway_Oblique_Black.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Oblique_Bold;
	src: url(fonts/Walkway_Oblique_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Oblique_Expand;
	src: url(fonts/Walkway_Oblique_Expand.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Oblique_SemiBold;
	src: url(fonts/Walkway_Oblique_SemiBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_Oblique_UltraBold;
	src: url(fonts/Walkway_Oblique_UltraBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_RevOblique;
	src: url(fonts/Walkway_RevOblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_SemiBold;
	src: url(fonts/Walkway_SemiBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_SemiBold_RevOblique;
	src: url(fonts/Walkway_SemiBold_RevOblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraBold;
	src: url(fonts/Walkway_UltraBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraBold_RevOblique;
	src: url(fonts/Walkway_UltraBold_RevOblique.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraCondensed;
	src: url(fonts/Walkway_UltraCondensed.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraCondensed_Bold;
	src: url(fonts/Walkway_UltraCondensed_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraCondensed_Semi;
	src: url(fonts/Walkway_UltraCondensed_Semi.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraExpand;
	src: url(fonts/Walkway_UltraExpand.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraExpand_Bold;
	src: url(fonts/Walkway_UltraExpand_Bold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_UltraExpand_SemiBold;
	src: url(fonts/Walkway_UltraExpand_SemiBold.ttf) format(truetype);
} 

@font-face { 
	font-family: Walkway_rounded;
	src: url(fonts/Walkway_rounded.ttf) format(truetype);
} 

@font-face { 
	font-family: eurof35;
	src: url(fonts/eurof35.ttf) format(truetype);
} 

@font-face { 
	font-family: eurof36;
	src: url(fonts/eurof36.ttf) format(truetype);
} 

@font-face { 
	font-family: eurof55;
	src: url(fonts/eurof55.ttf) format(truetype);
} 

@font-face { 
	font-family: eurof56;
	src: url(fonts/eurof56.ttf) format(truetype);
} 

@font-face { 
	font-family: eurof75;
	src: url(fonts/eurof75.ttf) format(truetype);
} 

@font-face { 
	font-family: eurof76;
	src: url(fonts/eurof76.ttf) format(truetype);
} 

@font-face { 
	font-family: trees_of_happiness;
	src: url(fonts/trees_of_happiness.ttf) format(truetype);
} 

@font-face { 
	font-family: whola;
	src: url(fonts/whola.ttf) format(truetype);
} 

